<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.remipelloux.opensw.lab.permission.PROFILE_BRIDGE" />

    <queries>
        <package android:name="com.remipelloux.opensw.profile" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="OpenSw Lab"
        android:theme="@style/Theme.OpenSwLab">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
